#root {
  text-align: center;
  height: 100vh;
  box-sizing: border-box;
  background-color: #fcfcfc;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  max-width: 445px;
  margin: 0 auto;
}
